In [1]:
import pandas as pd
import numpy as np
# import os
# # set the working directory to the parent directory
# os.chdir('../')


from describer import  *
ts_hr = pd.read_excel('../../data/PAS Challenge HR Data.xlsx', engine="calamine")

/Users/joyqiu/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [ ]:
# ts_sub = ts_hr.iloc[0:10, 2:302]
# df_desc = ts_hr.iloc[0:10, :2].copy()

# succ = [describe_succ_inc_summ(row.values) for _, row in ts_sub.iterrows()]
# df_desc['description_succ_inc'] = succ 
# print(df_desc['description_succ_inc'].value_counts())# perfect! 

# histo = [describe_hr_histogram(row.values) for _, row in ts_sub.iterrows()]
# df_desc['description_histogram'] = histo 
# print(df_desc['description_histogram'].value_counts()) # perfect! 

# events80 = [describe_brady_events(row.values, th = 80, plot=False, type = 0) for _, row in ts_sub.iterrows()]
# events90 = [describe_brady_events(row.values, th = 90, plot=False, type = 0) for _, row in ts_sub.iterrows()]
# events100 = [describe_brady_events(row.values, th = 100, plot=False, type = 0) for _, row in ts_sub.iterrows()]
# df_desc['description_ts_event'] = [get_most_severe_event_py(i, events80, events90, events100) for i, _ in ts_sub.iterrows()]
# # perfect!
# df_desc

In [2]:
ts_df = ts_hr.iloc[399:409, 2:302]
id_df = ts_hr.iloc[399:409, :2].copy()

generate_descriptions(ts_df, id_df)

,VitalID,VitalTime,description_succ_inc,description_histogram,description_ts_event
399,1010,22647052,Moderate amount of consecutive increases.,High variability.,This is a heart rate time series from a NICU i...
400,1010,22785652,Moderate amount of consecutive increases.,Moderate variability.,This is a heart rate time series from a NICU i...
401,1010,22863052,Moderate amount of consecutive increases.,Moderate variability.,
402,1010,22899052,High amount of consecutive increases.,Moderate variability.,This is a heart rate time series from a NICU i...
403,1010,23019052,Moderate amount of consecutive increases.,Moderate variability.,
404,1017,82800,Low amount of consecutive increases.,Low variability.,
405,1017,123600,Low amount of consecutive increases.,Very low variability.,
406,1017,221400,Low amount of consecutive increases.,Moderate variability.,
407,1017,286200,Moderate amount of consecutive increases.,Moderate variability.,
408,1017,403200,Moderate amount of consecutive increases.,Moderate variability.,

In [4]:
ts_df = ts_hr.iloc[399:409, 2:302]
id_df = ts_hr.iloc[399:409, :2].copy()
ts_df.iloc[:, 200:300] = np.nan
generate_descriptions_parallel(ts_df, id_df)

/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan
/var/folders/mx/85c6dr0j71n_d2rrwcc36l3m0000gn/T/ipykernel_34900/2001620842.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'nan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ts_df.iloc[:, 200:300] = np.nan

,VitalID,VitalTime,description_succ_inc,description_histogram,description_ts_event
399,1010,22647052,Moderate amount of consecutive increases.,High variability.,This is a heart rate time series from a NICU i...
400,1010,22785652,Moderate amount of consecutive increases.,Moderate variability.,This is a heart rate time series from a NICU i...
401,1010,22863052,Moderate amount of consecutive increases.,Moderate variability.,
402,1010,22899052,Moderate amount of consecutive increases.,Moderate variability.,
403,1010,23019052,Moderate amount of consecutive increases.,Moderate variability.,
404,1017,82800,Low amount of consecutive increases.,Low variability.,
405,1017,123600,Low amount of consecutive increases.,Very low variability.,
406,1017,221400,Low amount of consecutive increases.,Moderate variability.,
407,1017,286200,Moderate amount of consecutive increases.,Moderate variability.,
408,1017,403200,Moderate amount of consecutive increases.,Moderate variability.,